geovista==0.5.3
oEmbedPy==0.8.1
pyvista[all]==0.44.2
sphinx-revealjs[screenshot]==3.2.0
sphinx-tabs==3.4.7
sphinx_design==0.6.1
sphinxcontrib-gtagjs==0.2.1
sphinxcontrib-sass==0.3.5
sphinxemoji==0.3.1
sphinxext-opengraph==0.10.0
