oEmbedPy==0.6.0
pyvista[all]==0.44.0
sphinx-revealjs[screenshot]==3.0.2
sphinx-tabs==3.4.5
sphinx_design==0.6.0
sphinxcontrib-gtagjs==0.2.1
sphinxcontrib-sass==0.3.4
sphinxemoji==0.3.1
sphinxext-opengraph==0.9.1
