oEmbedPy==0.9.0
pyvista[all]==0.47.0
sphinx-revealjs[screenshot]==3.2.1
sphinx-tabs==3.4.7
sphinx_design==0.7.0
sphinxcontrib-gtagjs==0.2.1
sphinxcontrib-sass==0.3.5
sphinxemoji==0.3.2
sphinxext-opengraph==0.13.0
